:root{
    --spacing: 10px;
    --blur: 10px;
    --base: yellow;
}


body{
    background-color: rgb(73, 4, 73);
    color: aliceblue;
}

h1{
    width: fit-content;
    margin: 0 auto;
}
.js{
    font-size: 50px;
    color: var(--base);
}

.attlist{
    width: fit-content;
    margin: 45px auto;
    font-size: x-large;
}
label{
    margin-left: 50px;
}


.image{
    display: flex;
    justify-content: center;
}

img{
    height: 800px;
    
    padding: var(--spacing);
    filter: blur(var(--blur));
    background-color: var(--base);
}